[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

dj-database-url = "*"
django = "*"
gunicorn = "*"
"psycopg2" = "*"
whitenoise = "*"
requests = "*"
dj_static = "*"
pandas = "*"
dash = "*"
dash-renderer = "*"
dash-core-components = "*"
dash-html-components = "*"
brewer2mpl = "*"

[requires]

python_version = "3.6"
