[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

dj-database-url = "*"
django = "*"
django_rq = "*"
rq = "*"
gunicorn = "*"
"psycopg2" = "*"
whitenoise = "*"
requests = "*"
dj-static = "*"
pandas = "*"
geopandas = "*"
dash = "*"
dash-renderer = "*"
dash-core-components = "*"
dash-html-components = "*"
chart-studio = "*"
"brewer2mpl" = "*"
redis = "*"
django-redis-cache = "*"
flask-caching = "*"
sqlalchemy = "*"
django-extensions = "*"
schedule = "*"
"urllib3" = "*"
scipy = "*"
dash-table = "*"
dash-daq = "*"
"psycopg2-binary" = "*"
flask = "*"
wget="*"
pyreadr="*"


[requires]

python_version = "3.9.13"
