{% load staticfiles %}
<html>
  <head>
      <title>UK Atmosphere</title>
      <link rel="shortcut icon" type = "image/png" href = "/static/cloud_analysis_logo.png"/>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link href="https://fonts.googleapis.com/css?family=Barlow|Tinos" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/dataplot.css' %}">
  </head>

  <body>

    <div class="page-header">

      <div id="home-logo-holder">
        <a id ="home-logo" href="/"></a>
      </div>

      <div id = "page-header-holder">
        <a id = "page-header-text" href="/"> UK Atmosphere </a>
      </div>

    </div>

    <div class = "main_page">
     {% block content %}
     {% endblock %}
   </div>
  </body>

  <footer>
    <div class ="footer-container">
      <p> UK Atmosphere - Douglas Finch - University of Edinburgh, School of Geosciences <p>
    </div>
  </footer>

</html>
