{% load staticfiles %}
<html>
    <head>
        <title>UK Atmosphere</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Barlow|Tinos" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/dataplot.css' %}">
    </head>

    <body>

    <div class="page-header">
      <div class = "inner-header">
        <h1><a href="/">UK Atmosphere</a></h1>
      </div>
    </div>

    <div class = "main_page">

    <div class="data_selector">
        {% block testname %}
        {% endblock %}
    </div>

    <div class="plot_page">
      <div id = "timeseries_plot">
        <iframe frameborder="0" scrolling="no" src="//plot.ly/~dfinch/142.embed", link=false, logo=false></iframe>
      </div>
      <div id = "windrose_plot">
        <iframe frameborder="0" scrolling="no" src="//plot.ly/~dfinch/146.embed", link=false, logo=false></iframe>
      </div>

  </div>
    </body>
</html>
