{% extends 'dataplot/base.html' %}

{% block content %}

<!-- <table>
  <tr>
    <td>test1</td>
    <td>test2</td>
  </tr>
</table> -->


  <div class = "data_selector">

    <h1> Select a site: </h1>
      <form method = "POST" class = "data_form">{% csrf_token %}
      {{ siteform }}

      <button type="submit" id = "site_button" class="save btn btn-default">Go</button>
      {% if site_chosen == True %}
      {{ variableform }}
      {{ combineform }}
      <button type="submit" id = "submit_button" class="save btn btn-default">Submit</button>
      {% endif %}
    </form>
  </div>

  <div class = "plot_page">
    {% if graph_preset == False %}
    <img id = "background_image" src = "/static/cloud_analysis_logo_no_bckgd.png" alt = "" >
    {% else %}
    <h2> Analysis for:
      {% for site in sites %}
        {{ site }}
      {% endfor %}
    </h2>
    <br>
    {% for plot in plots %}
    <iframe width="900" height="800" frameborder="0" scrolling="no" src={{ plot }}></iframe>
    {% endfor %}
     {% endif %}
  </div>

{% endblock %}
