{% extends 'dataplot/base.html' %}

{% block content %}
<div class = "home_page">

  <!-- Need buttons to redirect user
  To data analysis tools
  To redirect to and "about" page
  To redirect to a news page?
  And something else for symmetry  -->
  <table class = "button_table">
    <tr>
    <td><a href = "/dataplot/main"><div class = "home_buttons" id = "analysis_tool_button">
      <div class = "home_button_text"><h1> Analysis Tools</h1>
        <p> Use the toolkit to plot air quality data</p>
      </div>
    </div></a></td>

    <td><a href = "{% url 'analysis' %}"><div class = "home_buttons" id = "about_button">
      <div class = "home_button_text"><h1> News</h1>
        <p> The latest developments of the UK Atmosphere Tools</p>
      </div>
    </div></a></td>
    </tr>
    <tr>
    <td><a href = ""><div class = "home_buttons" id = "news_button">
      <div class = "home_button_text"><h1> About <h1>
        <p> Find more about how to use the tools</p>
      </div>
    </div></a></td>

    <td><a href = ""><div class = "home_buttons" id = "contact_button">
      <div class = "home_button_text"><h1> Download Tools</h1>
        <p> Download our analysis package in Python </p>
      </div>
    </div></a></td>
    <tr>
  </table>

</div>

{% endblock %}
