
{% extends 'dataplot/base.html' %}

{% block content %}
<div class = "home_page">
  <div class = "home_page_spacer"></div>
  <table class = "button_table">
    <tr>
    <td><a href = "/dataplot/DEFRA_sites"><div class = "home_buttons" id = "analysis_tool_button">
      <div class = "home_button_text"><h2> Analysis Tools</h2>
        <p> Use the toolkit to plot air quality data</p>
      </div>
    </div></a></td>


    <!-- <td><a href = ""><div class = "home_buttons" id = "news_button">
      <div class = "home_button_text"><h1> News</h1>
        <h2>Coming Soon</h2> -->
        <!-- <p> The latest developments of the UK Atmosphere Tools</p> -->
      <!-- </div>
    </div></a></td>
    </tr> -->

    <tr>
    <td><a href = "/dataplot/DEFRA_map"><div class = "home_buttons" id = "analysis_tool_button">
      <div class = "home_button_text"><h2> UK AQ Map</h2>
        <p> Explore an air quality map of the UK</p>
      </div>
    </div></a></td>

    <!-- <tr>
    <td><a href = "/dataplot/Site_Comparison"><div class = "home_buttons" id = "analysis_tool_button">
      <div class = "home_button_text"><h2>Site Comparison Table</h2>
        <p>Compare statistics from multiple observation sites</p>
      </div>
    </div></a></td> -->

    <tr>
    <td><a href = "{% url 'about' %}"><div class = "home_buttons" id = "about_button">
      <div class = "home_button_text"><h2> About </h2>
        <p> Find more about how to use the tools</p>
      </div>
    </div></a></td>

    <!-- <td><a href = ""><div class = "home_buttons" id = "contact_button">
      <div class = "home_button_text"><h1> Download Tools</h1>
        <h2>Coming Soon</h2> -->
        <!-- <p> Download our analysis package in Python </p> -->
      <!-- </div>
    </div></a></td>
    <tr> -->
  </table>

</div>

{% endblock %}
